* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --background: #181818;
}

html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0;

  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.root {
  height: 75%;
  width: 100%;
  margin: auto;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form {
  position: relative;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form span.highlighted {
  color: gold;
  font-weight: 900;
  font-variant: small-caps;
}

form section {
  width: 75%;
  position: absolute;
  /*display: none;*/
  opacity: 0;
  height: 0;
  visibility: hidden;
  top: 0%;
  transition: top ease 600ms, opacity ease 400ms, height ease 400ms,
    visibility ease 400ms;
}

form section.visible {
  /*display: block;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  opacity: 1;
  visibility: visible;
}

form section.visible button {
  background-color: transparent;
  border: none;
  max-width: fit-content;
  border-radius: 10px;
  padding: 1em;
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
}

form section.visible button:hover,
form section.visible button.clicked {
  background-color: red;
  cursor: pointer;
}

form h2 {
  font-size: 2rem;
  font-variant: small-caps;
  margin-bottom: -0.5em;
}

form > section > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

form > section > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

form > section input {
  width: 75%;
  padding: 1em;
  font-size: 1rem;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
}

form > section input:invalid {
  outline: 1px solid red;
}

form > section input:valid {
  outline: 1px solid lightgreen;
}

form > section div.passwordContainerMeter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
/*ERROR MESSAGE*/
form section div.error {
  display: block;
  font-style: italic;
  color: gold;
  font-size: 1rem;
}

form section div.error.hidden {
  display: none;
}
